body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Lato', 'Lato','Lato';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(85, 20, 20);
}
a:hover {
    text-decoration: underline;
}
h1 {
    margin-left: 200px; 
    font-size: 3em;
    font-family:'Lato','Lato','Lato';
    position: sticky;
    position: -webkit-sticky;
}
p {
  margin-left: 200px; 
    font-size: 1.5em;
    line-height: 1.4em;
    font-family:'Lato','Lato','Lato';
    color: rgb(73, 70, 70);
}
footer {
    border-top: 3px solid #53886c;
    /* background-color: #b4d8e4; */
    font-size: .2em;
    margin-left: 200px; /* Same as the width of the sidenav */
}
.footerImage {
  height: 2px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-family:'Lato','Lato','Lato';
}

ul.posts li {
    list-style: none;
    font-family:'Lato','Lato','Lato';
}
ul {
    font-size: 1.5em;
    font-family:'Lato','Lato','Lato';
  }
  
ul ul {
    font-size: 100%;
    font-family:'Lato','Lato','Lato';
  }
header {
  margin-left: 200px; /* Same as the width of the sidenav */
    position: fixed;
    background-color: rgb(37, 91, 142);
    /* background-image: url("../images/paper.gif"); */
    height:100px;
  }


.header img {
    float: left;
    position: relative;
    /* width: 50px;
    height: 70px; */
    background: #555;
  }
  
  .header h1 {
    /* position: relative; */
    margin-left: 200px; /* Same as the width of the sidenav */
    top: 18px;
    left: 20px;
  }

  .blurb {
    margin-left: 200px; /* Same as the width of the sidenav */
  }

  /* .container {
    margin-left: 200px; /* Same as the width of the sidenav */ 


  html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   a:link {
    color: rgb(128, 146, 128);
    background-color: transparent;
    text-decoration: none;
  }

ul {
    font-size: 2em;
    font-family:'Lato','Lato','Lato';
  }

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: rgb(252, 248, 248);
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #10a5ad;
  text-align: center;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
  padding: 14px;
  text-decoration: none;
  z-index: 10; /*should allow for the H1 to not cover the nav bar*/
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
   
#sidebar {
  float: left;
  width: 30%;
  background-color: #0b83ab;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(1, 1, 4);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 10px;
  text-decoration: none;
  font-size: 25px;
  color: #7a2020;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}