body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Lato';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: rgb(85, 20, 20);
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Lato';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #bed8ca;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
ul {
    font-size: 1.5em;
  }
  
ul ul {
    font-size: 100%;
  }
header {
    background-color: rgb(37, 91, 142);
    /* background-image: url("../images/paper.gif"); */
    height:100px;
  }


.header img {
    float: left;
    position: relative;
    /* width: 50px;
    height: 70px; */
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 20px;
  }


  html {
    scroll-behavior: smooth;
   }
   
   a {
    text-decoration: none;
    color: black;
   } 
   a:link {
    color: rgb(128, 146, 128);
    background-color: transparent;
    text-decoration: none;
  }

ul {
    font-size: 2em;
  }

  .circular_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: blue;
    /* commented for demo
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    */
    
    /*for demo*/
    display:inline-block;
    vertical-align:middle;
  }
  .circular_image img{
    width:100%;
  }
   