<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>

                 <ul>
                    <li><a href="#researchint"> <span style="color:rgb(3, 111, 36)"></spanstyle>Interests</span></a></li>
                    <!-- <li><a href="#background"> <span style="color:rgb(12, 75, 138)"></spanstyle>Background</span></a></li> -->
                    <li><a href="#preprints"> <span style="color:rgb(67, 20, 92)"></spanstyle>Selected Papers</span></a></li>
					<li><a href="#talks"> <span style="color:rgb(12, 75, 138)"></spanstyle>Selected Presentations</span></a></li>


                 </ul>

			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
                    <li><a href="mailto:csava.gr@dartmouth.edu">Email</a></li>
                    <li><a href="https://github.com/csavasegal">Github</a></li>
                    <li><a href="https://scholar.google.com/citations?user=c0vFC1MAAAAJ&hl=en">Google Scholar</a></li>
                    <li><a href="https://twitter.com/csavasegal">Twitter</a></li>

				</ul>
			</footer>
		</body>
	</html>
