<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
	<link rel="stylesheet" type="text/css" href="../css/main.css">

	<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: "Lato", sans-serif;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">
	<a href="index.html"> <span style="color:rgb(10, 155, 99); font-size: 25px;"></spanstyle>Main</span></a>
	<a href="ib.html"> <span style="color:rgb(24, 128, 240); font-size: 25px;"></spanstyle>Interests & Background</span></a>
	<a href="pp.html"> <span style="color:rgb(173, 30, 166); font-size: 25px;"></spanstyle>Papers & Presentations</span></a>
</div>

<div class="header">
	<h1><span style="color:rgb(1, 23, 14)">Clara A. Sava-Segal</span></h1>
	<br>
	<br>
	<br>
	
</div>

<div class="blurb">
	<img src="img/sava-segal_clara.png" alt="profile_pic">
	<p> I'm a Cognitive Neuroscience PhD student advised by Emily Finn in the <a href = "https://thefinnlab.github.io/research/" style="color: grey" >Functional Imaging and Naturalistic Neuroscience Lab</a> at Dartmouth College.  </a></p>
	<br>
</div>


<div class="container">
		
	{{ content }}
	
</div>

<footer>
		<ul>
			<li><a href="mailto:csava.gr@dartmouth.edu"><img src="../img/email_circle.png"/></a></li>
			<li><a href="https://github.com/csavasegal"><img src="../img/github_circle.png"/></a></li>
			<li><a href="https://scholar.google.com/citations?user=c0vFC1MAAAAJ&hl=en"><img src="../img/scholar_circle.png"/></a></li>
			<li><a href="https://twitter.com/csavasegal"><img src="../img/twitter_circle.png"/></a></li>

		</ul>
</footer>


   
</body>
</html> 










